.requirements,
h1 {
  display: flex;
  justify-content: center;
  gap: 10%;
  padding: 20px;
  color: rgb(224, 227, 226);

  .needed,
  .completed {
    display: flex;
    flex-direction: column;
    width: 25%;

    .expansion-content {
      display: flex;
      flex-direction: column;
    }
  }
}
