<h1>Kappa requirements</h1>
<div class="requirements">
  <div class="needed">
    <mat-accordion multi>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>Required quests</mat-panel-title>
          <mat-panel-description>
            {{ requirements.quests.length - completedQuests.length }}
            remaining
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="expansion-content">
          <mat-form-field appearance="outline" class="example-form-field">
            <mat-label>Search quest</mat-label>
            <input matInput type="text" [(ngModel)]="questsInput" />
            @if (questsInput) {
              <button
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="questsInput = ''"
              >
                <mat-icon>close</mat-icon>
              </button>
            }
          </mat-form-field>

          @for (quest of filteredQuests; track $index) {
            @if (!completedQuests.includes(quest)) {
              <button mat-button (click)="completeQuest(quest)">
                {{ quest }}
              </button>
            }
          }
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>Required items</mat-panel-title>
          <mat-panel-description>
            {{ requirements.items.length - ownedItems.length }}
            remaining
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="expansion-content">
          <mat-form-field appearance="outline" class="example-form-field">
            <mat-label>Search item</mat-label>
            <input matInput type="text" [(ngModel)]="itemsInput" />
            @if (itemsInput) {
              <button
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="itemsInput = ''"
              >
                <mat-icon>close</mat-icon>
              </button>
            }
          </mat-form-field>

          @for (item of filteredItems; track $index) {
            @if (!ownedItems.includes(item)) {
              <button mat-button (click)="receiveItem(item)">{{ item }}</button>
            }
          }
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="completed">
    <mat-accordion multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Required quests</mat-panel-title>
        </mat-expansion-panel-header>

        <div class="expansion-content">
          <mat-form-field appearance="outline" class="example-form-field">
            <mat-label>Search quest</mat-label>
            <input matInput type="text" [(ngModel)]="completedQuestsInput" />
            @if (completedQuestsInput) {
              <button
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="completedQuestsInput = ''"
              >
                <mat-icon>close</mat-icon>
              </button>
            }
          </mat-form-field>

          @for (quest of filteredCompletedQuests; track $index) {
            <button mat-button (click)="revertCompleteQuest(quest)">
              <mat-icon>close</mat-icon>
              {{ quest }}
            </button>
          }
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Required items</mat-panel-title>
        </mat-expansion-panel-header>

        <div class="expansion-content">
          <mat-form-field appearance="outline" class="example-form-field">
            <mat-label>Search item</mat-label>
            <input matInput type="text" [(ngModel)]="ownedItemsInput" />
            @if (ownedItemsInput) {
              <button
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="ownedItemsInput = ''"
              >
                <mat-icon>close</mat-icon>
              </button>
            }
          </mat-form-field>

          @for (item of filteredOwnedItems; track $index) {
            <button mat-button (click)="revertReceiveItem(item)">
              <mat-icon>close</mat-icon>
              {{ item }}
            </button>
          }
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
